<div class="page-header">
	<h1>All users</h1>
</div>
<div class="well">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Username</th>
      <th>Mail</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Games</th>
      <th>Mooched</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= image_tag(user.gravatar_url(:size => 25, :default => "retro"))%></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.first_name%></td>
			<td><%= user.last_name %></td>
			<td><%= user.games.count %></td>
			<td><%= user.mooched_games.count %></td>
			<td><%= link_to user_games_path(user) do %>
				<span class="glyphicon glyphicon-eye-open"></span>
			<% end %>
			</td>
		</tr>
	<% end %>
  </tbody>
</table>
</div>
<div align="center">
</div>
