<div class="page-header">
	<h1>Mooched</h1>
</div>
<%= form_tag(games_unmooch_path, :method => "get") do %>
	<%= select_tag "moochedImage", options_for_select(@games.map  { |game| [{ data: { 'img-src': game.url } }, if game.user.username? then "#{game.title} <hr> #{game.user.username}" else  "#{game.title} <hr> #{game.user.email}" end , [ 'id' => game.id, 'name' =>  game.title, 'cover' => game.url ] ] }), multiple: true, class: 'image-picker show-labels show-html'%>
        <div align="center">
                <%= submit_tag "Unmooch", class: "btn btn-primary btn-lg btn-block" %>
        </div>
<% end %>
<div class="page-header">
	<h1>Pending for mooching</h1>
</div>
<%= form_tag(games_cancelmooch_path, :method => "get") do %>
	<%= select_tag "pendingImage", options_for_select(@pending_games.map  { |game| [{ data: { 'img-src': game.url } }, if game.user.username? then "#{game.title} <hr> #{game.user.username}" else  "#{game.title} <hr> #{game.user.email}" end , [ 'id' => game.id, 'name' =>  game.title, 'cover' => game.url ] ] }), multiple: true, class: 'image-picker show-labels show-html'%>
        <div align="center">
                <%= submit_tag "Cancel", class: "btn btn-primary btn-lg btn-block" %>
        </div>
<% end %>
