<div class="border-form-div">
	<h1>Sign in</h1>
	<div class="container-fluid">
		<div class="col-md-6">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div class="form-group">
					<%= f.text_field :login, autocomplete: "on", class: "form-control", :autofocus => true, placeholder: "Usename or Email" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
				</div>
				<%= f.submit "Sign in", class: 'btn btn-primary btn-block center-block' %>
				<% if devise_mapping.rememberable? -%>
					<div class="field">
						<%= f.label :remember_me %>
						<%= f.check_box :remember_me %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-6 col-md-offset0">
			<%= link_to user_facebook_omniauth_authorize_path, :class => "btn btn-block btn-social btn-facebook" do %>
				<span class="fa fa-facebook"></span> Facebook
			<% end %>
			<%= link_to user_google_oauth2_omniauth_authorize_path, :class => "btn btn-block btn-social btn-google" do %>
				<span class="fa fa-google"></span> Google
			<% end %>
			<%= link_to user_github_omniauth_authorize_path, :class => "btn btn-block btn-social btn-github" do %>
				<span class="fa fa-github"></span> Github
			<% end %>
		</div>
	</div>
			<%= link_to "Forgot your password?", new_user_password_path  %>
</div>
