<div class="page-header">
	<h1><%= @title %></h1>
</div>
<% if @games %>
	<div align="center">
		<%= form_tag(@action, :method => "get") do %>
			<%= select_tag "selectImage", options_for_select(games_grid(@games)), multiple: true, class: 'image-picker show-labels show-html'%>
			<div align="center">
				<% if @submit_tag == "Delete" %>
					<%= submit_tag @submit_tag, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-lg btn-block" %>
				<% else %>
					<%= submit_tag @submit_tag, class: "btn btn-primary btn-lg btn-block" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div align="center">
		<%= will_paginate @games %>
	</div>
<% else %>
	<div class="jumbotron center">
		<h2>Nothing here yet !</h2>
		<%= link_to @submit_tag, @action, :class => "btn btn-primary btn-lg"%>
	</div>

<% end %>
