<%= form_tag(igdb_games_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
<%= submit_tag "Search" %>
<% end %>
<div class="row games">
	<% if @games.present? %>
		<% @games.each do |game| %>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<% if game['cover'].nil? %>
						<%= image_tag '//images.igdb.com/igdb/image/upload/t_thumb/nocover_qhhlj6.jpg' %>
					<% else %>
						<%= image_tag game['cover']['url'] %>
					<% end %>
					<div class="caption">
						<%= game['name'] %>
					</div>
				</div>
			</div>
		<% end %>
</div>
<% else %>
	<p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
