<div id="sidebar-wrapper">
	<ul id="sidebar_menu" class="sidebar-nav">
		<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="sub_icon glyphicon glyphicon-align-justify" ></span></a></li>
	</ul>
	<%= image_tag(current_user.gravatar_url(:size => 150, :default => "retro"), :class => "avatar") %>
	<ul class="sidebar-nav" id="sidebar">
		<li><%= link_to games_path do %>
		<span class="sub_icon glyphicon glyphicon-search"></span>Available Games
		<% end %>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Games<span class="sub_icon glyphicon glyphicon-link"></span></a>
			<ul class="dropdown-menu side-dropdown" role="menu">
				<li><%= link_to "Mine", user_games_path(current_user) %></li>
				<li><%= link_to "Mooched", users_moochedby_games_path %></li>
				<li><%= link_to "Requested", users_requested_games_path %></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mooched<span class="sub_icon glyphicon glyphicon-link"></span></a>
			<ul class="dropdown-menu side-dropdown" role="menu">
				<li><%= link_to "Accepted", users_mooched_games_path %></li>
				<li><%= link_to "Pending", users_pending_games_path %></li>
			</ul>
		</li>
		<li><%= link_to igdb_search_path do %>
		<span class="sub_icon glyphicon glyphicon-plus"></span>Add new games
		<% end %>
		<li><%= link_to users_path do %>
		<span class="sub_icon glyphicon glyphicon-user"></span>Show users
		<% end %>
		</li>
	</ul>
</div>
